    :root {
        --theme-color: #000;
        --secondary-color:#a4082f ;     
        --prancipal-color:#ce0033;     
        --text-color: #57575c;     
        --white-color: #ffffff;     
        --grey-bg-color: #f1f5f8;     
        --font-title:Nunito Sans,sans-serif; }
        
        body{
            overflow-x: hidden;
            font-family: var(--font-title);
        
        }
    /*-------------style banner recruter nos talents----*/    
    .conteneur{
        background-color:var(--secondary-color);
        text-align: justify;   
        padding:4rem 2rem;  
        transform: translateY(30%);
        max-height:20rem;
        
    }
   .bgrect{
        background-image:url(../img/IMG_1.jpeg);
        background-attachment:fixed;
        background-repeat: no-repeat;
        background-size: cover;
        height:30rem;   
    }
   .conteneur h2
    {   color:white;
        font-weight: bold;
        text-align: center;
        margin-bottom: 2rem;
    }
    .conteneur p{
        font-size:1.2em;
    }

   .bgcard{
            
       background-color: white;
       color:black;
     
       padding:1rem; 
       box-shadow: 3px 3px  3px   rgb(75, 74, 74);   
       border-bottom: 5px solid black;
       border-top-right-radius: 3rem ;
       border-bottom-left-radius: 3rem;
   }

    .card:hover {
        transform: translateY(-0.2rem);
        
    }

    h5.card-title{
        margin-bottom:1.5em;
        color:var( --secondary-color  );
        text-align: center;
        font-weight:bold;
    }

  /*---------- style section Vous voulez recruter  -----*/  
    .conteneur2{
        background-color:var(--secondary-color);
        padding: 4rem 0rem;
        color:white;
    
    }
    .conteneur2 button{
        background-color:black;
        color:white;
        width:100%;
    }

    .conteneur2 button:hover{
        border: 1px solid white;
        color:white;
        background-color: transparent;
    }

  /*---------- fin style section Vous voulez recruter  -----*/  


    
     @media screen and (max-width: 830px) {     
    
    .conteneur{
        background-color:var(--secondary-color);
        text-align: justify;   
        padding:3rem 2rem;  
        transform: translateY(30%);
        font-size:14px;
    }  
    .conteneur h2
    {   font-size:1.5rem;
        margin-bottom: 1.5rem;
    }
    .conteneur p{
        font-size:1rem;
    }
    


    } 


.greybg{
    background-color:rgb(236, 236, 236) ;
   
}








    /*contact********************************************/
    .form-section{
        background-attachment:fixed;
        background-size:cover;
        background-position:100% 100%;
        background-repeat:no-repeat;
        padding:0px 0;
        position:relative;
        height:100vh;
    }
    .overlay {
        background: #00000026;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .custom-button {
        width: 100%;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.8s ease;
        background: #4DA0B0;
        background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);
        background: linear-gradient(to right, #FF5722, #3f51b5);
    }

    .custom-button:hover, .custom-button:focus{
        transition: 0.8s ease;
        letter-spacing: 3px;
        background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);
        background: linear-gradient(to right, #FF5722, #3f51b5);
    }
    .form-box-inner .form-control {
        background: #ffffff8a;
        border: 2px solid #000000;
        box-shadow: none;
    }
    .form-box-inner .form-control:focus {
        outline:none;
        box-shadow:none;
    }
    .map-box iframe {
        width: 100%;
        height: 357px;
    }
    .map-box {
        padding: 5px;
        border-radius: 5px;
    }

    .heading-title{
        text-shadow: 2px 3px 0 #101010, 1px 4px 0 rgba(0,0,0,0.15);
        text-align: center;
        margin: 0 auto;
        padding: var(--text-color);
        font-size: 42px;
    }
    .contact{
        text-align:center;
    }
    .contact-box{
        background: #ffffff8a;
        height: 365px;
        padding:15px;
    }
    .contact-box ul li{
        margin-bottom:0px;
        padding:8px;
    }
    .contact i {
        font-size: 25px;
        color: #f65728;
    }
    .form-box-inner {
        background: #ffffff8a;
        padding: 15px;
    }    
    
       